Strings

can slice them [1:3]
go backwards[:-2], select every other [::2]

print backwards s[::-1]


used to create a name

use a single quote or double quotes, use 1 or the other when you want to embed 1 in the other

strings are "sequences" - ie, an ordered sequence of characters

In [1]:
'single quoted string'

'single quoted string'

In [2]:
"double quoted string"

'double quoted string'

In [3]:
"use double quotes to embed a single as in : i'm "

"use double quotes to embed a single as in : i'm "

In [4]:
'or the "opposite"'

'or the "opposite"'

In [5]:
s ='assign to a variable'

In [6]:
s

'assign to a variable'

In [7]:
print s

assign to a variable

In [8]:
print(s)

assign to a variable

In [9]:
print 'hello world 1'
print 'hello world 2'

hello world 1
hello world 2

use PRINT statement to outsput strings w/o quotes in your code

use \n to do NEWLINES

In [10]:
print 'line 1\nline 2'

line 1
line 2

use \t to TAB spaces

In [11]:
print '\ttab character'

	tab character

indexing starts at 0 & uses [] - access 1st character =[0]

In [12]:
s= 'hello'
print s[0]

h

slicing uses : - grab chars between left and right numbers, don't specify an ending to get all

In [13]:
s

'hello'

In [14]:
s[1:]

'ello'

In [15]:
s[2:4]

'll'

In [16]:
s[1:]

'ello'

In [17]:
s[:4]

'hell'

In [18]:
s

'hello'

In [19]:
s[:]

'hello'

In [20]:
s[:-1]  # go backwards

'hell'

In [21]:
s[-1]

'o'

In [22]:
s[:-1] # grab everything except the last letter

'hell'

In [23]:
s[::2]  # grab every other character

'hlo'

In [24]:
s[::-1]  # print string backwards

'olleh'

In [25]:
# string properties
# immutability - ie, once created, elements within it cannot be changed or replaced
s[0]

'h'

In [26]:
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [27]:
# but you can concatenate, ie, add on
s + ' concatenated string'

'hello concatenated string'

In [28]:
s = s + ' concatenated string'

In [29]:
s

'hello concatenated string'

In [30]:
# can use multiplcation string to REPEAT a letter that many times
letter = 'Z'
letter * 20

'ZZZZZZZZZZZZZZZZZZZZ'

In [34]:
# built-in string methods
# uppercase
s.upper()

'HELLO CONCATENATED STRING'

In [32]:
len(s)

25

In [35]:
# to get the list of methods associated with a method, after you type '.' - hit TAB
s.isalpha()

False

In [36]:
# lowercase a string
s.lower()

'hello concatenated string'

In [37]:
# split a string - defaults to split by spaces
s.split()

['hello', 'concatenated', 'string']

In [38]:
# to split by something else, specify in paren
s.split('a')

['hello conc', 'ten', 'ted string']

In [39]:
# end of the numbers notebook