In [1]:
# PRINT FORMATTING

In [2]:
print 'This is a string'

This is a string

In [3]:
x ='String'
print 'Place the above variable here : %s ' %(x)

Place the above variable here : String

In [5]:
# works the same if you used a number
x =13.13
print 'Place the above variable here : %s ' %(x)

Place the above variable here : 13.13

In [6]:
# for floating point numbers, change the formatting string in print statement
print 'Floating point number : %1.2f' %(13.145)

Floating point number : 13.14

In [25]:
# number past the dot indicates the number of digits to show after the decimal point
# number before the dot indicates the minimum number of digits before
# use 1 to include the entire number
# use additional numbers to use space formatting
print('floating point %1.3f' %(13.145))
print('floating point %1.0f' %(13.145))
print('floating point %10.3f' %(13.145))

floating point 13.145
floating point 13
floating point     13.145

In [10]:
# print formatting options
# %s - string - print as a string
# %f - floating point numbers
# %r - convert to a string
print 'convert {treat} number to a string : %r' %(123)

convert {treat} number to a string : 123

In [11]:
# to add multiple numbers, use multiple % signs
print 'First: %s, Second: %s, Third %s' %('hi','two',3)

First: hi, Second: two, Third 3

In [12]:
# another / better way is to use the FORMAT statement
print 'First: {x} Second {x} Third {x}'.format(x='inserted')

First: inserted Second inserted Third inserted

In [14]:
# print statement does it in order, using FORMAT w/variable names - order doesn't matter
print 'First X : {x} First Y : {y} Second X : {x}'.format(y='two',x='inserted')

First X : inserted First Y : two Second X : inserted

In [15]:
# using FORMAT SHOULD be the way to print vars

In [16]:
from __future__ import print_function
print('hello')

hello

In [18]:
# this is python 3 - altho the parens worked without the  import
print('First X : {x}'.format(x='INSERT'))

First X : INSERT

In [26]:
# END OF PRINT FORMATTING NOTEBOOK