In [1]:
#
# LISTS
#

In [1]:
# is this how to comment, i forgot :-(

In [2]:
#
# create a list
#
# variable name = comma-separated group in square brackets
#
my_list = [1,2,3]

In [3]:
my_list

[1, 2, 3]

In [4]:
#
# lists canhold different object types
#
new_list = ['string',23,.125,'another string']

In [5]:
new_list

['string', 23, 0.125, 'another string']

In [6]:
#
# len fcn
#
len(new_list)

4

In [7]:
#
# indexing and slicing works the same as it did for strings
#
a_list = ['one','two','three',4,5.0]

In [8]:
a_list

['one', 'two', 'three', 4, 5.0]

In [9]:
a_list[0]

'one'

In [10]:
#
# slice - grab everything after index 1
#
a_list[1:]

['two', 'three', 4, 5.0]

In [11]:
#
# grab evrything up to the 3rd index
#
a_list[:3]

['one', 'two', 'three']

In [12]:
#
# use + to concatenate strings
#
'hello' + ' world'

'hello world'

In [13]:
a_list + ['new item']

['one', 'two', 'three', 4, 5.0, 'new item']

In [14]:
#
# the above isn't reassigning the list so these examples are temporary
# use = to re-assign
a_list = a_list + ['new item']

In [15]:
a_list

['one', 'two', 'three', 4, 5.0, 'new item']

In [16]:
#
# multiplication works the same
# 
a_list * 2

['one',
 'two',
 'three',
 4,
 5.0,
 'new item',
 'one',
 'two',
 'three',
 4,
 5.0,
 'new item']

In [17]:
#
# NOTE : 1 feature in python for lists is that they don't need an upper bound OR have to contain all the same type
#

In [18]:
#
# functions
#
# append - add another element to the list
#
l = [1,2,3]

In [19]:
l

[1, 2, 3]

In [20]:
l.append('append me')

In [21]:
l

[1, 2, 3, 'append me']

In [22]:
#
# when using jupyter notebook, after a function, 
# use . and tab or shift-tab to see all functions associated with data type
#

In [23]:
#
# POP - pop off anitem form a list, defaults to the last one
#
l.pop()

'append me'

In [24]:
l

[1, 2, 3]

In [35]:
x = l.pop(0)

In [36]:
x

1

In [37]:
l

[2, '3']

In [38]:
#
# listindexing returns an array when there is no value at the specified index
#
l[1]

'3'

In [39]:
l[99]

IndexError: list index out of range

In [40]:
#
# explore sort and reverse
#
alpha = ['a','e','x','b','c']

In [41]:
alpha

['a', 'e', 'x', 'b', 'c']

In [42]:
alpha.reverse()

In [43]:
alpha

['c', 'b', 'x', 'e', 'a']

In [44]:
#
# reverse is a permanent change
#
# sort
alpha.sort()

In [45]:
alpha

['a', 'b', 'c', 'e', 'x']

In [46]:
#
# nesting - lists inside of lists
#
l_1 = [1,2,3]
l_2 = [4,5,6]
l_3 = [7,8,9]

In [47]:
matrix = [l_1,l_2,l_3]

In [48]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [51]:
matrix[0]

[1, 2, 3]

In [52]:
matrix[0][0]

1

In [53]:
matrix[1][1]

5

In [54]:
matrix[2][0]

7

In [55]:
#
# list comprehensions
#
# quick construction of lists
#
# use a for-loop inside brackets to populate a list
#
first_col = [row[0] for row in matrix]

In [56]:
first_col

[1, 4, 7]

In [57]:
#
# for every row in matrix, grab the 1st element and assign it to a new list
# fcol = [row[0] for row in matrix]
#

In [58]:
#
# END OF LISTS lesson
#