My Numbers notebook:

working with just integers, ie whole numbers positive or negatve

floating point - decimal, exponents, 4E2

mainly integers and floating points w/decimal points

In [1]:
# addition, use +
2+1

3

In [2]:
# subtraction, simple dash sign
4 - 6

-2

In [3]:
# multiplication, *
3 * 2
5 *

SyntaxError: invalid syntax (<ipython-input-3-cb99f6431ce1>, line 3)

In [4]:
3 * 2
5 * 88

440

In [8]:
# division - /, in python 2 this does "classic" division - ie, decimal point truncate
#               python 3 would execute this successfully, does "true" division
3/2

1

In [6]:
# the way around this in Python 2, specify 1 of them as a float
3.0 / 2

1.5

In [7]:
# or cast 1 of them as a float
float(3)/2

1.5

In [9]:
# or you can import a library that'll make it work like a future version
from __future__ import division
3 / 2

1.5

In [10]:
# check out powers
2**3

8

In [11]:
4**5

1024

In [12]:
* square roots done like....
4**.05

SyntaxError: invalid syntax (<ipython-input-12-f76845a89d9b>, line 1)

In [13]:
4**0.5

2.0

In [14]:
# for order of operations - just use parentheses

In [15]:
(2+10)*(10+3)

156

In [16]:
# assigning labels to values, ie, declaring variables
a = 5

In [17]:
a

5

In [18]:
a+a

10

In [19]:
a = 10

In [20]:
a = a+a

In [21]:
a = a + a

In [22]:
a

40

In [23]:
# rules for variable names - see jupyter notebook, can't start with a number, no spaces, some symbols are bad

In [24]:
# small example
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate
print 'my_income after taxes is ' +  my_taxes

TypeError: cannot concatenate 'str' and 'float' objects

In [25]:
print my_taxes

10.0